.b-slider {
	@include clearfix;

	text-align: center;
	overflow: hidden;
	h2 {
		font-family: $secondary-font; font-size: 42px; font-weight: normal; color: $white;
		line-height: 1.1em;
		margin: 0 0 31px; padding: 0;
	}
	h3 {
		color: #fff; font-size: 36px; font-family: $primary-font; font-weight: 300;
		line-height: 1.2em;
		margin-bottom: 36px;
	}
    &__title {
    	margin-bottom: 26px;
		padding-bottom: 26px;
		background-image: url(../images/hsltit.png);
		background-repeat: no-repeat;
		background-position: center bottom;
    }
    &__item {
    	padding: 53px 0 82px;
    }

    .b-button {
    	&__container {
    		padding-top: 41px;
    	}
    }
    .owl-controlls {
    	position: absolute; bottom: 0;
    }
    &.owl-theme {
		.owl-dots {
			width: 100%;
			.owl-dot {
				span {
					@include transition(all, 0.3s, ease-out);

					display: block;
					width: 12px; height: 12px;
					margin-right: 14px;
				    border: 2px solid #fff;
				    border-radius: 50%;
				    background-color: transparent;
				}
				&.active, &:hover {
					span {
						border-color: #e74260;
					}
				}
			}
		}
		.owl-nav {
			position: absolute; top: 50%;
		    width: 100%;
		    margin-top: 0;
		    [class*='owl-'] {
		    	display: inline-block;
			    width: 30px; height: 61px;
			    margin: 0; padding: 0;
			    background-color: transparent;
			    background-image: url("../images/ui-slider.png");
			    cursor: pointer;
			    border-radius: 0;
		    	&.owl-prev {
				    float: left;
				    background-position: 0 0;
				}
				&.owl-next {
					float: right;
    				background-position: -42px 0;
				}
			}
		}
	}

	&.rev-slider {
		.author {
			padding-top: 40px;
			img {
				display: inline-block;
			    height: 51px; width: 51px;
			    border: 2px solid #e74260;
			    border-radius: 50%;
			}
			span {
				display: block;
			    color: #fff; font-size: 16px; font-style: italic;
			    margin-top: 5px;
			}
		}
		.b-slider__item {
			height: 468px;
			padding-bottom: 0;
		}


		a { color: $red; }
		p {
		    width: 750px;
		    font-size: 18px; font-weight: 300; text-align: left;
		    line-height: 24px;
		    margin: 0 auto 10px auto; padding-top: 0;
		}
	}
}