.b-delivery {
	padding-top: 50px;
    overflow: hidden;
    min-width: 1170px;

    h2 {
    	font-size: 36px;
	    color: #26252C;
	    font-weight: 300;
	    margin-bottom: 20px;
	    text-align: center;
    }
    p {
    	width: 740px;
    	font-size: 18px; color: #212121; text-align: center; font-weight: 300;
    	margin: 0 auto 45px;
    }
    .title {
    	width: 126px;
	    height: 119px;
	    margin: 0 auto 20px;
	    span {
	    	display: table-cell;
		    height: 119px;
		    width: 126px;
		    text-align: center;
		    vertical-align: middle;
	    }
	    img {
	    	@include transition(all, 0.3s, linear);
	    	height: 100%; width: 100%;
	    }
    }
}
.features {
	width: 1020px; height: 404px;
    margin: 0 auto; padding-top: 56px;
    background-image: url(../images/pages/main/pizza.png);
    background-repeat: no-repeat;
    background-position: center 60px;
}
.feat {
	float: left;
    font-size: 18px;
    color: #666666;
    font-style: italic;
    margin-bottom: 111px;
    width: 380px;
    line-height: 26px;
    font-weight: 300;
    span {
    	font-weight: 500;
    }

    +.feat {
    	float: right;
    	text-align: right;
    }
}
.clear {
	@include clearfix;
}

#object { visibility: hidden; }

.lovework {
	padding-bottom: 60px;
	h2 {
	    font-size: 36px; color: #26252C; font-weight: 300;
	    line-height: 36px;
	    margin-bottom: 16px;
	    text-align: center;
	}
	p {
		width: 750px;
    	color: #454545; font-size: 18px; font-weight: 300; text-align: center;
    	margin: 0 auto 40px;
	}
	.boxes {
		@include susy-clearfix;
		> div {
			margin-right: 30px;
			&:last-child { margin-right: 0; }
		}
	}
	.box {
		float: left;
		width: 370px;
		img {
			@include transition(all, 0.3s, ease-out);

		    position: absolute; top: 0; left: 0;
		    width: 370px; height: 230px;
		}
		span {
			display: block;
		    color: #26252C; font-size: 21px; font-weight: 500;
		    margin-top: 22px;
		    margin-bottom: 6px;
		    visibility: hidden;
		}
		small {
			display: block;
		    color: #26252C; font-size: 16px; font-weight: 300;
		    visibility: hidden;
		}
	}
	i {
		display: block;
	    position: relative;
	    width: 370px; height: 230px;
	    overflow: hidden; visibility: hidden;
	}

}
