/*
** Global styles
*/
* {
	margin: 0; padding: 0;
	box-sizing: border-box;
}

body {
	position: relative;
	width:100%; min-height: 100%;
	color: #454545; font-family: $primary-font; font-size: 14px;
	margin: 0; padding: 0;
	background-color: $white;
}

a, img { outline: none; }
img {
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}

.container {
	@include clearfix;
	position: relative;
	width: 1170px;
	margin: 0 auto;
}