// backgrounds
$ui-img: url('../images/ui.png');
$bg-header: url('../images/bg-header.png');

// fonts
$primary-font: 'Fira Sans', sans-serif;
$secondary-font: 'Kurale', serif;
// colors
$text-color: #454545;
$link-color: #262626;

$white: #FFF;
$red: #D54442;
$gray: #4D4D4D;

// font size



// grid
$low-tide: false;
$middle-tide: false;
$semi-tide: false;
// > iPhone 6 plus
$high-tide: false;
// iPhone4
$ultra-tide: false;
// this site
$limit-tide: false;

$susy: (
  gutters: 1,
  math: fluid,
  output: float,
);