.b-header {
	color: $white;
	padding: 35px 0 20px;
	background-image: $bg-header;
	background-position: center top;
	background-repeat: no-repeat;
	border-top: 4px #4D4D4D solid;

	span {
		display: block;
		font-weight: 300;
	}
	.b-section__row {
		margin-bottom: 36px;
	}
	.b-section__col {
		&:last-child { text-align: right; }
	}
	&__info {
		position: relative;
		display: inline-block;
		text-align: left;
		padding: 17px 0 0 30px;

		&:before {
			@include transition(all, 0.3s, ease-out);

			display: inline-block;
			position: absolute; left: 0; top: 15px;
			content: "";
			background-image: $ui-img;
			background-repeat: no-repeat;
		}
		&:hover {
			&:before {
				top: -30px;
				opacity: 0;
			}
		}

		span {
			line-height: 27px;
			&:first-child { font-weight: 500; }
		}

		&.adress {
			&:before {
				width: 22px; height: 30px;
				background-position: 0 0;
			}
			span {
				&:first-child { font-size: 16px; }
			}
		}
		&.phone {
			&:before {
				width: 17px; height: 30px;
				background-position: -29px 0;
			}
			span {
				&:first-child { font-size: 24px; }
				&:last-child { padding-left: 3px; }
			}
		}
	}
	&__logo {
		text-align: center;
		a { display: inline-block; }
	}

	.b-slider {
		p {
			width: 380px;
	    	font-size: 21px;
	    	line-height: 1.2em;
			margin: 0 auto;
			padding: 22px 0 0 0;
			text-align: center;
			font-weight: 300;
		}
		.h-line {
			width: 120px; height: 0;
			border-bottom: 2px $white solid;
			margin: 0 auto;
			opacity: 0.75;
		}
	}
}