.b-select {
	select {
		border: 0;
		outline: 0;
	}
	&__label {
		color: #454545; font-size: 12px; font-weight: 300;
	}
	.select2-container--default {
		.select2-selection--single {
			border: 0;
			outline: 0;
			.select2-selection {
				&__arrow {
					b {
						position: absolute; left: 50%; top: 50%;
						height: 5px; width: 8px;
						border: 0;
						margin-left: -4px; margin-top: -2px;
						background-image: url("../images/arrow.png");
						background-repeat: no-repeat;
					}
				}
				&__rendered {
					padding-left: 0;
				}
			}

		}
	}

}